.App {
  text-align: center;
}

.cards {
  max-width: 1280px;
  margin: 0 auto;
}

.cards__header {
  margin: 3rem;
  font-size: 2rem;
  color: #212121;
}

.cards__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}